body {
}

.input-error {
    display: none;
    color: #BA0C2F;
}

.has-error.input-error {
    display: block;
    padding-top: 5px;
}

/* https://www.figma.com/design/c1qAjRYTOztnD0LY1WNek7/WashU-Key---final?node-id=219-3478&t=btiVB6eRtGJzyYt8-0 */
.note {
    padding: 1rem;
}

    .note.note-info {
        background-color: #FFFFFF;
        border: 1px solid #B1B1B1;
    }

    .note.note-primary {
        background-color: #FFE3E0;
        border: 1px solid #BA0C2F;
    }

    .note.note-success {
        background-color: #CFF1EA;
        border: 1px solid #215732;
    }

    .note > .note-title {
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding-bottom: 8px;
    }