html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: rgba(0, 0, 0, 0)
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.45;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

:root {
    --font-ivystyle: "ivystyle-sans", Calibri, Tahoma, sans-serif;
    --font-ivypresto: "ivypresto-headline", Georgia, serif
}

:root {
    --site-gutter: 24px;
    --single-gutter: max(calc(((100vw - var(--scrollbar-width)) - 71.25rem)/2) + var(--site-gutter), var(--site-gutter));
    --single-column: calc(((100vw - var(--single-gutter) * 2) / 12) + 2px)
}

@media screen and (min-width: 37em) {
    :root {
        --site-gutter: 24px
    }
}

@media screen and (min-width: 41em) {
    :root {
        --site-gutter: 32px
    }
}

@media screen and (min-width: 50em) {
    :root {
        --site-gutter: 32px
    }
}

@media screen and (min-width: 61.5em) {
    :root {
        --site-gutter: 40px
    }
}

@media screen and (min-width: 71em) {
    :root {
        --site-gutter: 64px
    }
}

@media screen and (min-width: 85em) {
    :root {
        --site-gutter: 0px
    }
}

@supports(-ms-ime-align: auto) {
    #content {
        padding: 0 1.5rem
    }

    .grid .shield-container .inner-shield {
        left: 1.5rem
    }
}

html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

body {
    color: #222;
    font-family: var(--font-ivystyle);
    line-height: 1.45;
    overflow-anchor: none
}

p {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.2rem
}

p.is-style-disclaimer {
    font-size: 16px;
    font-size: 1rem;
    font-style: italic;
    line-height: 150%
}

p.is-style-lead {
    font-size: 27.648px;
    font-size: 1.728rem;
    font-weight: 300
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    margin-bottom: 1rem;
    line-height: 1.25;
    font-weight: 400
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0
}

.page-content :is(h1, h2, h3, h4, h5, h6)+:is(h1, h2, h3, h4, h5, h6) {
    margin-top: 0
}

h2 {
    margin-top: 3rem;
    font-size: 39.808px;
    font-size: 2.488rem;
    font-weight: 400;
    font-family: var(--font-ivypresto);
    line-height: 120%
}

@media screen and (min-width: 37em) {
    h2 {
        font-size: 47.776px;
        font-size: 2.986rem
    }
}

h3 {
    margin-top: 3rem;
    font-size: 33.184px;
    font-size: 2.074rem;
    font-weight: 400;
    font-family: var(--font-ivypresto);
    line-height: 120%
}

@media screen and (min-width: 37em) {
    h3 {
        font-size: 39.808px;
        font-size: 2.488rem
    }
}

h4 {
    margin-top: 3rem;
    font-size: 27.648px;
    font-size: 1.728rem;
    font-weight: 400;
    line-height: 120%
}

@media screen and (min-width: 37em) {
    h4 {
        font-size: 33.184px;
        font-size: 2.074rem
    }
}

h5 {
    margin-top: 3rem;
    font-size: 23.04px;
    font-size: 1.44rem;
    font-weight: 400;
    line-height: 120%
}

h6 {
    margin-top: 3rem;
    font-size: 19.2px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: .024rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

b,
strong {
    font-weight: 600
}

dfn,
cite,
em,
i {
    font-style: italic
}

address {
    margin: 0 0 1.5em;
    font-style: normal
}

pre {
    background: #f8f8f8;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.1111111111em;
    max-width: 100%;
    overflow: auto;
    padding: 1.1111111111em
}

code,
kbd,
tt,
var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    bottom: 1ex
}

sub {
    top: .5ex
}

small {
    font-size: 11.104px;
    font-size: .694rem
}

big {
    font-size: 125%
}

hr,
hr.wp-block-separator {
    background-color: #b1b1b1;
    border: 0;
    height: 1px;
    margin-top: 3rem;
    margin-bottom: 3rem
}

hr.is-style-wide,
hr.wp-block-separator.is-style-wide {
    max-width: 52.625rem
}

.page-full hr.is-style-wide,
.page-full hr.wp-block-separator.is-style-wide {
    max-width: 71.25rem;
    max-width: calc(71.25rem - (var(--site-gutter) + var(--site-gutter)));
    width: calc(100% - 2rem);
    width: calc(100% - (var(--site-gutter) + var(--site-gutter)))
}

img {
    max-width: 100%;
    height: auto
}

figure {
    margin: 0
}

table {
    margin: 0 0 1.5em;
    width: 100%
}

th {
    font-weight: 600
}

.screen-reader-text,
.skip-link {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal !important
}

.skip-link:focus {
    background-color: #fff;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, .5);
    outline: none !important;
    clip: auto !important;
    color: #ba0c2f;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    height: auto;
    left: .3em;
    top: .3em;
    line-height: normal;
    padding: 1rem 1.5rem;
    text-decoration: none;
    width: auto;
    z-index: 100000
}

.caption {
    margin-bottom: 1.5em;
    font-size: 13.328px;
    font-size: .833rem;
    text-align: left;
    line-height: 150%
}

@media screen and (min-width: 37em) {
    .caption {
        font-size: 16px;
        font-size: 1rem
    }
}

.caption em {
    font-style: normal
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

.animate--hide {
    visibility: hidden
}

::target-text {
    background-color: #ffe8a7
}

.container {
    width: 100%;
    max-width: 71.25rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-left: var(--site-gutter);
    padding-right: var(--site-gutter)
}

.container:after {
    content: "";
    display: table;
    clear: both
}

.row {
    display: flex;
    flex-wrap: wrap
}

.row:after {
    content: "";
    display: table;
    clear: both
}

[class*=col-] {
    width: 100%;
    min-height: 1px
}

[class*=col-]:first-child {
    margin-left: 0
}

@media screen and (min-width: 37em) {
    [class*=col-zm] {
        margin-left: 24px
    }
}

@media screen and (min-width: 50em) {
    [class*=col-sm] {
        margin-left: 24px;
        margin-bottom: 0
    }
}

@media screen and (min-width: 61.5em) {
    [class*=col-md] {
        margin-left: 24px;
        margin-bottom: 0
    }
}

@media screen and (min-width: 71em) {
    [class*=col-lg] {
        margin-left: 24px;
        margin-bottom: 0
    }
}

@media(min-width: 37em) {
    .col-zm-1 {
        width: calc(8.3333333333% + 2px - 24px)
    }

    .col-zm-2 {
        width: calc(16.6666666667% + 4px - 24px)
    }

    .col-zm-3 {
        width: calc(25% + 6px - 24px)
    }

    .col-zm-4 {
        width: calc(33.3333333333% + 8px - 24px)
    }

    .col-zm-5 {
        width: calc(41.6666666667% + 10px - 24px)
    }

    .col-zm-6 {
        width: calc(50% + 12px - 24px)
    }

    .col-zm-7 {
        width: calc(58.3333333333% + 14px - 24px)
    }

    .col-zm-8 {
        width: calc(66.6666666667% + 16px - 24px)
    }

    .col-zm-9 {
        width: calc(75% + 18px - 24px)
    }

    .col-zm-10 {
        width: calc(83.3333333333% + 20px - 24px)
    }

    .col-zm-11 {
        width: calc(91.6666666667% + 22px - 24px)
    }

    .col-zm-12 {
        width: calc(100% + 24px - 24px)
    }
}

@media(min-width: 50em) {
    .col-sm-1 {
        width: calc(8.3333333333% + 2px - 24px)
    }

    .col-sm-2 {
        width: calc(16.6666666667% + 4px - 24px)
    }

    .col-sm-3 {
        width: calc(25% + 6px - 24px)
    }

    .col-sm-4 {
        width: calc(33.3333333333% + 8px - 24px)
    }

    .col-sm-5 {
        width: calc(41.6666666667% + 10px - 24px)
    }

    .col-sm-6 {
        width: calc(50% + 12px - 24px)
    }

    .col-sm-7 {
        width: calc(58.3333333333% + 14px - 24px)
    }

    .col-sm-8 {
        width: calc(66.6666666667% + 16px - 24px)
    }

    .col-sm-9 {
        width: calc(75% + 18px - 24px)
    }

    .col-sm-10 {
        width: calc(83.3333333333% + 20px - 24px)
    }

    .col-sm-11 {
        width: calc(91.6666666667% + 22px - 24px)
    }

    .col-sm-12 {
        width: calc(100% + 24px - 24px)
    }
}

@media(min-width: 61.5em) {
    .col-md-1 {
        width: calc(8.3333333333% + 2px - 24px)
    }

    .col-md-2 {
        width: calc(16.6666666667% + 4px - 24px)
    }

    .col-md-3 {
        width: calc(25% + 6px - 24px)
    }

    .col-md-4 {
        width: calc(33.3333333333% + 8px - 24px)
    }

    .col-md-5 {
        width: calc(41.6666666667% + 10px - 24px)
    }

    .col-md-6 {
        width: calc(50% + 12px - 24px)
    }

    .col-md-7 {
        width: calc(58.3333333333% + 14px - 24px)
    }

    .col-md-8 {
        width: calc(66.6666666667% + 16px - 24px)
    }

    .col-md-9 {
        width: calc(75% + 18px - 24px)
    }

    .col-md-10 {
        width: calc(83.3333333333% + 20px - 24px)
    }

    .col-md-11 {
        width: calc(91.6666666667% + 22px - 24px)
    }

    .col-md-12 {
        width: calc(100% + 24px - 24px)
    }
}

@media(min-width: 71em) {
    .col-lg-1 {
        width: calc(8.3333333333% + 2px - 24px)
    }

    .col-lg-2 {
        width: calc(16.6666666667% + 4px - 24px)
    }

    .col-lg-3 {
        width: calc(25% + 6px - 24px)
    }

    .col-lg-4 {
        width: calc(33.3333333333% + 8px - 24px)
    }

    .col-lg-5 {
        width: calc(41.6666666667% + 10px - 24px)
    }

    .col-lg-6 {
        width: calc(50% + 12px - 24px)
    }

    .col-lg-7 {
        width: calc(58.3333333333% + 14px - 24px)
    }

    .col-lg-8 {
        width: calc(66.6666666667% + 16px - 24px)
    }

    .col-lg-9 {
        width: calc(75% + 18px - 24px)
    }

    .col-lg-10 {
        width: calc(83.3333333333% + 20px - 24px)
    }

    .col-lg-11 {
        width: calc(91.6666666667% + 22px - 24px)
    }

    .col-lg-12 {
        width: calc(100% + 24px - 24px)
    }
}

@media screen and (min-width: 41em) {
    .offset-right {
        float: right !important
    }
}

button,
input,
select,
textarea {
    box-sizing: border-box;
    box-shadow: none;
    color: #000;
    font-family: var(--font-ivystyle);
    vertical-align: baseline
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    border: 1px solid #ba0c2f;
    border-radius: 6px;
    background-color: #ba0c2f;
    color: #fff;
    cursor: pointer;
    font-family: var(--font-ivystyle);
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1em;
    padding: .5em 1.25em
}

.site-content button:hover,
.site-content input[type=button]:hover,
.site-content input[type=reset]:hover,
.site-content input[type=submit]:hover {
    background-color: #fff;
    border: 1px solid #971b2f;
    color: #971b2f;
    text-decoration: none
}

.site-content button:focus,
.site-content input[type=button]:focus,
.site-content input[type=reset]:focus,
.site-content input[type=submit]:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 0 .2rem rgba(94, 158, 214, .7)
}

.site-content button:focus:hover,
.site-content input[type=button]:focus:hover,
.site-content input[type=reset]:focus:hover,
.site-content input[type=submit]:focus:hover {
    color: #971b2f
}

input:not([type=radio]):not([type=checkbox]):not([type=range]):not([type=button]):not([type=search]):not([type=submit]),
textarea {
    border-radius: 0;
    border: 1px solid #e6e6e6;
    background-color: #f8f8f8;
    padding: .75rem .5rem;
    font-weight: normal;
    font-size: 19.2px;
    font-size: 1.2rem;
    width: 100%;
    height: auto;
    -webkit-appearance: none
}

input:not([type=radio]):not([type=checkbox]):not([type=range]):not([type=button]):not([type=search]):not([type=submit]):focus,
textarea:focus {
    border-color: #e6e6e6;
    outline: none
}

input[type=checkbox] {
    appearance: none;
    background-color: #fff;
    color: #e6e6e6;
    width: 1rem;
    height: 1rem;
    background-clip: content-box;
    margin: 0 .5rem 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    transform: translateY(1px)
}

input[type=checkbox]::before {
    content: "";
    width: .75rem;
    height: .75rem;
    transform: scale(0);
    background: url("img/checkmark.svg") center no-repeat
}

input[type=checkbox]:focus,
input[type=checkbox]:hover {
    border: 1px solid #ba0c2f;
    box-shadow: 0 0 0 1px #ba0c2f
}

input[type=checkbox]:checked {
    border-color: #ba0c2f;
    background-color: #ba0c2f;
    color: #fff
}

input[type=checkbox]:checked:focus {
    background-color: #ba0c2f;
    color: #fff
}

input[type=checkbox]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    transform: scale(1) translate(-50%, -50%);
    background: url("img/checkmark.svg") center no-repeat
}

input[type=radio] {
    appearance: none;
    background-color: #fff;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 .5rem 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    transform: translateY(3px)
}

input[type=radio]::before {
    content: "";
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 1ms transform ease-in-out;
    box-shadow: inset .75rem .75rem #ba0c2f
}

input[type=radio]:focus,
input[type=radio]:hover {
    border: 1px solid #ba0c2f;
    box-shadow: 0 0 0 1px #ba0c2f
}

input[type=radio]:checked::before {
    height: .75rem;
    width: .75rem;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: scale(1) translate(-50%, -50%)
}

input[type=range] {
    -webkit-appearance: none;
    margin-right: 1rem;
    width: 50%;
    height: .5rem;
    background: #e9e9e9;
    border-radius: .5rem;
    background-image: linear-gradient(#BA0C2F, #BA0C2F);
    background-size: 50% 100%;
    background-repeat: no-repeat
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: #ba0c2f;
    cursor: ew-resize;
    transition: background .3s ease-in-out
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ba0c2f;
    cursor: ew-resize;
    transition: background .3s ease-in-out
}

input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #ba0c2f;
    cursor: ew-resize;
    transition: background .3s ease-in-out
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: rgba(0, 0, 0, 0)
}

input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: rgba(0, 0, 0, 0)
}

input[type=range]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: rgba(0, 0, 0, 0)
}

textarea {
    width: 100%;
    min-height: 150px
}

label {
    color: #000;
    font-size: 19.2px;
    font-size: 1.2rem;
    font-family: var(--font-ivystyle);
    margin-bottom: .5rem;
    display: block;
    font-weight: 600
}

select {
    color: #000;
    border: 1px solid #e6e6e6;
    background-color: #f8f8f8;
    font-size: 19.2px;
    font-size: 1.2rem;
    width: 100%;
    height: 48px;
    padding: 0 5px
}

select:focus {
    border-color: #e6e6e6;
    outline: none
}

form {
    display: grid;
    row-gap: 24px;
    margin-bottom: 24px
}

form .field-link {
    text-align: right
}

form .field-link a {
    font-size: 16px;
    font-size: 1rem
}

form button.form-submit {
    justify-self: auto;
    display: block
}

@media screen and (min-width: 50em) {
    form button.form-submit {
        display: inline-block;
        justify-self: baseline
    }
}

.button-primary,
.button-primary-small,
.button-footer .menu-item-link,
.button-footer-small .menu-item-link,
.is-style-default .wp-block-button__link,
.wp-block-button .wp-block-button__link {
    display: inline-block;
    cursor: pointer;
    font-family: var(--font-ivystyle);
    color: #fff;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: .05em;
    text-decoration: none;
    padding: .5rem 1.5rem;
    margin: 0;
    margin-bottom: 1.5em;
    border: 1px solid #ba0c2f;
    border-radius: 6px !important;
    background-color: #ba0c2f;
    text-align: center
}

[style*="text-align: center"] .button-primary,
[style*="text-align: center"] .button-primary-small,
[style*="text-align: center"] .button-footer .menu-item-link,
[style*="text-align: center"] .button-footer-small .menu-item-link,
[style*="text-align: center"] .is-style-default .wp-block-button__link,
[style*="text-align: center"] .wp-block-button .wp-block-button__link {
    margin: 0 10px
}

.button-primary:hover,
.button-primary:focus,
.button-primary-small:hover,
.button-primary-small:focus,
.button-footer .menu-item-link:hover,
.button-footer .menu-item-link:focus,
.button-footer-small .menu-item-link:hover,
.button-footer-small .menu-item-link:focus,
.is-style-default .wp-block-button__link:hover,
.is-style-default .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus {
    background-color: #fff;
    border: 1px solid #971b2f;
    color: #971b2f;
    text-decoration: none
}

.button-primary:nth-last-child(1n+2),
.button-primary-small:nth-last-child(1n+2),
.button-footer .menu-item-link:nth-last-child(1n+2),
.button-footer-small .menu-item-link:nth-last-child(1n+2),
.is-style-default .wp-block-button__link:nth-last-child(1n+2),
.wp-block-button .wp-block-button__link:nth-last-child(1n+2) {
    margin-right: 1.5em
}

.button-group .button-primary,
.button-group .button-primary-small,
.button-group .button-footer .menu-item-link,
.button-group .button-footer-small .menu-item-link,
.button-group .is-style-default .wp-block-button__link,
.button-group .wp-block-button .wp-block-button__link {
    margin-right: .5em;
    margin-left: .5em
}

.button-group {
    text-align: center
}

.button-primary-small,
.button-outline-small,
.button-footer-small .menu-item-link,
.is-style-primary-small .wp-block-button__link,
.is-style-outline-small .wp-block-button__link {
    letter-spacing: normal
}

.is-style-text-arrow .wp-block-button__link,
.is-style-text-arrow .parent-link {
    display: inline-block;
    cursor: pointer;
    color: #ba0c2f;
    font-family: var(--font-ivystyle);
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    padding: 0;
    margin: 0 0 1.5rem;
    border: none;
    background: none
}

.is-style-text-arrow .wp-block-button__link:focus,
.is-style-text-arrow .wp-block-button__link:hover,
.is-style-text-arrow .parent-link:focus,
.is-style-text-arrow .parent-link:hover {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
    border: none;
    color: #971b2f
}

.is-style-text-arrow .wp-block-button__link:focus::after,
.is-style-text-arrow .wp-block-button__link:hover::after,
.is-style-text-arrow .parent-link:focus::after,
.is-style-text-arrow .parent-link:hover::after {
    transform: translateX(0.1rem);
    background: url("assets/icons/arrow.svg#red") no-repeat center
}

.is-style-text-arrow .wp-block-button__link::after,
.is-style-text-arrow .parent-link::after {
    content: "";
    background: url("assets/icons/arrow.svg#red-light") no-repeat center;
    background-size: .875rem;
    display: inline-block;
    background-size: cover;
    width: .875rem;
    height: .875rem;
    margin-left: .5rem;
    margin-bottom: -0.15rem;
    transition: transform .15s
}

a:hover .is-style-text-arrow .parent-link {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
    border: none;
    color: #971b2f
}

a:hover .is-style-text-arrow .parent-link::after {
    transform: translateX(0.1rem);
    background: url("assets/icons/arrow.svg#red") no-repeat center
}

.button-outline,
.is-style-button-outline .wp-block-button__link,
.is-style-outline-small .wp-block-button__link {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ba0c2f;
    color: #ba0c2f
}

.button-outline:hover,
.button-outline:focus,
.is-style-button-outline .wp-block-button__link:hover,
.is-style-button-outline .wp-block-button__link:focus,
.is-style-outline-small .wp-block-button__link:hover,
.is-style-outline-small .wp-block-button__link:focus {
    background: #971b2f;
    color: #fff
}

.button-give {
    border: 2px solid #f1b434;
    background: #fff;
    border-radius: 0;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    padding: .5rem 1rem;
    text-align: center
}

.button-give:hover {
    background: #f1b434;
    color: #000;
    text-decoration: none
}

.back-to-top-btn {
    position: fixed;
    display: none;
    bottom: 1rem;
    right: 1rem;
    border-radius: 50%;
    width: 2.75rem;
    height: 2.75rem;
    background: url("assets/icons/right-arrow.svg#gray-dark") no-repeat, #fff;
    background-size: 1.25rem .75rem;
    background-position: center;
    border-color: #e6e6e6;
    padding: 0;
    z-index: 100;
    transform: rotate(270deg)
}

a {
    color: #ba0c2f
}

a:hover,
a:focus,
a:active {
    color: #971b2f
}

.link-cta {
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit
}

.link-cta:active,
.link-cta:visited,
.link-cta:hover,
.link-cta:focus {
    color: inherit
}

.link-cta:hover,
.link-cta:focus {
    text-decoration: underline
}

.link-heading {
    color: inherit;
    text-decoration: none
}

.link-heading:active,
.link-heading:visited,
.link-heading:hover,
.link-heading:focus {
    color: inherit
}

.link-heading:hover,
.link-heading:focus {
    text-decoration: underline
}

.entry-title-link,
.entry-title-link:visited {
    color: #000;
    text-decoration: none
}

.entry-title-link:hover,
.entry-title-link:focus,
.entry-title-link:visited:hover,
.entry-title-link:visited:focus {
    color: #971b2f;
    text-decoration: underline
}

.entry-title-link.link-animate:hover,
.entry-title-link.link-animate:focus,
.entry-title-link:visited.link-animate:hover,
.entry-title-link:visited.link-animate:focus {
    text-decoration: none;
    color: #000
}

.external:after {
    display: inline-block;
    content: "";
    background-image: url("assets/icons/external_link.svg#dark");
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: 15px;
    margin-left: .5rem
}

.link-animate {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(#F8F8F8, #F8F8F8);
    background-size: 100% 0, 0 1.5625rem;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size .3s linear, background-position .3s linear;
    display: inline;
    text-decoration: none
}

.link-animate>* {
    display: inline
}

.link-animate:after {
    content: "";
    height: 1rem;
    display: block
}

a:hover .link-animate,
.link-animate:hover {
    background-size: 0 0, 100% 1.5625rem;
    background-position: 100% 100%, 0 100%
}

a:hover .link-animate {
    text-decoration: none
}

.link-animate.animate-small {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(#000000, #000000);
    background-size: 100% 0, 0 .2rem;
    color: #000;
    text-decoration: none
}

.link-animate.animate-small:after {
    display: none
}

a:hover .link-animate.animate-small,
.link-animate.animate-small:hover {
    background-size: 0 0, 100% .2rem;
    background-position: 100% 100%, 0 100%
}

.link-animate.animate-small.external:after {
    height: 15px;
    display: inline-block
}

[id] {
    scroll-margin-top: var(--sticky-header-height)
}

ul,
ol {
    margin: 0 0 1rem 0;
    padding-left: 1.5rem
}

ul li,
ol li {
    margin-bottom: .5rem
}

.page-full ul,
.page-full ol {
    max-width: 71.25rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-left: calc(var(--site-gutter) + 1.5rem);
    padding-right: 1rem
}

.single ul,
.single ol {
    max-width: 47rem
}

.wp-block-column ul,
.wp-block-column ol {
    padding-left: 1.5rem
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

ol ol {
    list-style: lower-alpha
}

ol ol ol {
    list-style: lower-roman
}

ol ol ol ol {
    list-style: decimal
}

ol ol ol ol ol {
    list-style: lower-alpha
}

#page ol ol {
    padding-left: 1.5rem
}

li>ul,
li>ol {
    margin-bottom: 0
}

dt {
    font-weight: bold
}

dd {
    margin: 0 1.5em 1.5em
}

.list-inline {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center
}

.list-inline li {
    display: inline-block
}

.list-unstyled {
    list-style: none;
    margin-left: 0;
    padding-left: 0
}

.list-columns {
    max-width: none
}

@media screen and (min-width: 41em) {
    .list-columns {
        column-count: 2;
        column-gap: 1.5em;
        column-width: 15em;
        list-style-type: none;
        padding-left: 0
    }

    .list-columns li {
        position: relative;
        display: inline-block;
        width: 100%;
        padding-left: .75em
    }

    .list-columns li:before {
        content: "•";
        position: absolute;
        left: 0;
        font-weight: bold
    }
}

@media screen and (min-width: 61.5em) {
    .list-columns {
        column-count: 3;
        column-gap: 2.5em
    }
}

ul.unstyled,
ol.unstyled {
    padding: 0;
    margin-left: 0;
    list-style: none
}

ul.unstyled li,
ol.unstyled li {
    line-height: 1.25em;
    font-weight: 700;
    margin-bottom: 12px
}

ul.unstyled ul,
ul.unstyled ol,
ol.unstyled ul,
ol.unstyled ol {
    margin-top: 10px;
    list-style: none
}

ul.unstyled a,
ol.unstyled a {
    text-decoration: none;
    font-weight: 700
}

ul.unstyled a:hover,
ol.unstyled a:hover {
    text-decoration: underline
}

ul.is-style-phone,
ul.is-style-hours,
ul.is-style-email {
    padding-right: 0;
    margin-bottom: 1rem;
    padding-left: 2.5rem;
    padding-left: calc(var(--site-gutter) + 2.5rem)
}

.wp-block-column ul.is-style-phone,
.wp-block-column ul.is-style-hours,
.wp-block-column ul.is-style-email {
    padding-left: 2.5rem
}

ul.is-style-phone li,
ul.is-style-hours li,
ul.is-style-email li {
    list-style: none;
    position: relative
}

ul.is-style-phone li::before,
ul.is-style-hours li::before,
ul.is-style-email li::before {
    content: "";
    position: absolute;
    top: .3rem;
    left: -2rem;
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: cover
}

.is-style-phone li::before {
    background-image: url("assets/icons/list/phone.svg")
}

.is-style-hours li::before {
    background-image: url("assets/icons/list/time.svg")
}

.is-style-email li::before {
    background-image: url("assets/icons/list/email.svg")
}

li.is-style-phone,
li.is-style-hours,
li.is-style-email,
li.is-style-fax,
li.is-style-location {
    padding-right: 0;
    margin-bottom: 1rem;
    padding-left: 1rem;
    list-style: none;
    position: relative
}

li.is-style-phone::before,
li.is-style-hours::before,
li.is-style-email::before,
li.is-style-fax::before,
li.is-style-location::before {
    content: "";
    position: absolute;
    top: .3rem;
    left: -1rem;
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: cover
}

li.is-style-phone::before {
    background-image: url("assets/icons/list/phone.svg")
}

.wp-block-washu-call-out .has-color_red1000-accent-color li.is-style-phone::before,
.wp-block-washu-call-out .has-color_green1000-accent-color li.is-style-phone::before,
.wp-block-washu-call-out .has-color_green1300-accent-color li.is-style-phone::before,
.wp-block-washu-call-out .has-color_teal800-accent-color li.is-style-phone::before,
.wp-block-washu-call-out .has-color_gray900-accent-color li.is-style-phone::before,
.wp-block-washu-call-out .has-color_red-accent-color li.is-style-phone::before,
.wp-block-washu-call-out .has-color_green-accent-color li.is-style-phone::before,
.wp-block-washu-call-out .has-color_graydark-accent-color li.is-style-phone::before,
.wp-block-washu-call-out .has-color_bluedark-accent-color li.is-style-phone::before,
.wp-block-washu-call-out .has-color_blue-accent-color li.is-style-phone::before {
    background-image: url("assets/icons/list/phone.svg#white")
}

.wp-block-cover li.is-style-phone::before {
    background-image: url("assets/icons/list/phone.svg#white")
}

li.is-style-hours::before {
    background-image: url("assets/icons/list/time.svg")
}

.wp-block-washu-call-out .has-color_red1000-accent-color li.is-style-hours::before,
.wp-block-washu-call-out .has-color_green1000-accent-color li.is-style-hours::before,
.wp-block-washu-call-out .has-color_green1300-accent-color li.is-style-hours::before,
.wp-block-washu-call-out .has-color_teal800-accent-color li.is-style-hours::before,
.wp-block-washu-call-out .has-color_gray900-accent-color li.is-style-hours::before,
.wp-block-washu-call-out .has-color_red-accent-color li.is-style-hours::before,
.wp-block-washu-call-out .has-color_green-accent-color li.is-style-hours::before,
.wp-block-washu-call-out .has-color_graydark-accent-color li.is-style-hours::before,
.wp-block-washu-call-out .has-color_bluedark-accent-color li.is-style-hours::before,
.wp-block-washu-call-out .has-color_blue-accent-color li.is-style-hours::before {
    background-image: url("assets/icons/list/time.svg#white")
}

.wp-block-cover li.is-style-hours::before {
    background-image: url("assets/icons/list/time.svg#white")
}

li.is-style-email::before {
    background-image: url("assets/icons/list/email.svg")
}

.wp-block-washu-call-out .has-color_red1000-accent-color li.is-style-email::before,
.wp-block-washu-call-out .has-color_green1000-accent-color li.is-style-email::before,
.wp-block-washu-call-out .has-color_green1300-accent-color li.is-style-email::before,
.wp-block-washu-call-out .has-color_teal800-accent-color li.is-style-email::before,
.wp-block-washu-call-out .has-color_gray900-accent-color li.is-style-email::before,
.wp-block-washu-call-out .has-color_red-accent-color li.is-style-email::before,
.wp-block-washu-call-out .has-color_green-accent-color li.is-style-email::before,
.wp-block-washu-call-out .has-color_graydark-accent-color li.is-style-email::before,
.wp-block-washu-call-out .has-color_bluedark-accent-color li.is-style-email::before,
.wp-block-washu-call-out .has-color_blue-accent-color li.is-style-email::before {
    background-image: url("assets/icons/list/email.svg#white")
}

.wp-block-cover li.is-style-email::before {
    background-image: url("assets/icons/list/email.svg#white")
}

li.is-style-fax::before {
    background-image: url("assets/icons/list/fax.svg")
}

.wp-block-washu-call-out .has-color_red1000-accent-color li.is-style-fax::before,
.wp-block-washu-call-out .has-color_green1000-accent-color li.is-style-fax::before,
.wp-block-washu-call-out .has-color_green1300-accent-color li.is-style-fax::before,
.wp-block-washu-call-out .has-color_teal800-accent-color li.is-style-fax::before,
.wp-block-washu-call-out .has-color_gray900-accent-color li.is-style-fax::before,
.wp-block-washu-call-out .has-color_red-accent-color li.is-style-fax::before,
.wp-block-washu-call-out .has-color_green-accent-color li.is-style-fax::before,
.wp-block-washu-call-out .has-color_graydark-accent-color li.is-style-fax::before,
.wp-block-washu-call-out .has-color_bluedark-accent-color li.is-style-fax::before,
.wp-block-washu-call-out .has-color_blue-accent-color li.is-style-fax::before {
    background-image: url("assets/icons/list/fax.svg#white")
}

.wp-block-cover li.is-style-fax::before {
    background-image: url("assets/icons/list/fax.svg#white")
}

li.is-style-location::before {
    background-image: url("assets/icons/list/location.svg")
}

.wp-block-washu-call-out .has-color_red1000-accent-color li.is-style-location::before,
.wp-block-washu-call-out .has-color_green1000-accent-color li.is-style-location::before,
.wp-block-washu-call-out .has-color_green1300-accent-color li.is-style-location::before,
.wp-block-washu-call-out .has-color_teal800-accent-color li.is-style-location::before,
.wp-block-washu-call-out .has-color_gray900-accent-color li.is-style-location::before,
.wp-block-washu-call-out .has-color_red-accent-color li.is-style-location::before,
.wp-block-washu-call-out .has-color_green-accent-color li.is-style-location::before,
.wp-block-washu-call-out .has-color_graydark-accent-color li.is-style-location::before,
.wp-block-washu-call-out .has-color_bluedark-accent-color li.is-style-location::before,
.wp-block-washu-call-out .has-color_blue-accent-color li.is-style-location::before {
    background-image: url("assets/icons/list/location.svg#white")
}

.wp-block-cover li.is-style-location::before {
    background-image: url("assets/icons/list/location.svg#white")
}

ul.list-icons {
    padding-right: 0;
    padding-left: 2.5rem;
    padding-left: calc(var(--site-gutter) + 2.5rem)
}

.wp-block-column ul.list-icons {
    padding-left: 2.5rem
}

ul.list-icons li {
    margin-bottom: 1rem;
    list-style: none;
    position: relative
}

ul.list-icons li::before {
    content: "";
    position: absolute;
    top: .3rem;
    left: -2rem;
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: cover
}

ul.list-icons li.phone::before {
    background-image: url("assets/icons/list/phone.svg")
}

.has-color_red1000-accent-color ul.list-icons li.phone::before,
.has-color_green1000-accent-color ul.list-icons li.phone::before,
.has-color_green1300-accent-color ul.list-icons li.phone::before,
.has-color_teal800-accent-color ul.list-icons li.phone::before,
.has-color_gray900-accent-color ul.list-icons li.phone::before,
.has-color_red-accent-color ul.list-icons li.phone::before,
.has-color_graydark-accent-color ul.list-icons li.phone::before,
.has-color_bluedark-accent-color ul.list-icons li.phone::before,
.has-color_green-accent-color ul.list-icons li.phone::before {
    background-image: url("assets/icons/list/phone.svg#white")
}

ul.list-icons li.hours::before {
    background-image: url("assets/icons/list/time.svg")
}

ul.list-icons li.email::before {
    background-image: url("assets/icons/list/email.svg")
}

.has-color_red1000-accent-color ul.list-icons li.email::before,
.has-color_green1000-accent-color ul.list-icons li.email::before,
.has-color_green1300-accent-color ul.list-icons li.email::before,
.has-color_teal800-accent-color ul.list-icons li.email::before,
.has-color_gray900-accent-color ul.list-icons li.email::before,
.has-color_red-accent-color ul.list-icons li.email::before,
.has-color_graydark-accent-color ul.list-icons li.email::before,
.has-color_bluedark-accent-color ul.list-icons li.email::before,
.has-color_green-accent-color ul.list-icons li.email::before {
    background-image: url("assets/icons/list/email.svg#white")
}

.wp-block-table {
    margin: 3rem 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: calc(100lvw - var(--single-gutter)*2);
    overflow: scroll
}

@media screen and (min-width: 50em) {
    .wp-block-table {
        width: auto
    }
}

.wp-block-table::-webkit-scrollbar {
    display: none
}

table {
    padding: 0;
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
    overflow: scroll
}

.wp-block-washu-line-chart table {
    display: block
}

@media screen and (min-width: 41em) {
    .wp-block-washu-line-chart table {
        display: table
    }
}

table th {
    border: none
}

td,
th {
    padding: 1rem;
    font-size: 19.2px;
    font-size: 1.2rem;
    line-height: 1.1em
}

th a {
    color: #ba0c2f
}

th.name {
    width: 23%
}

th.title,
th.email {
    width: 30%
}

th.phone {
    width: 17%
}

.diversity-maps-textonly-tables th {
    text-align: left;
    width: 50%
}

.diversity-maps-textonly-tables td {
    width: 50%
}

.line-chart-table {
    border: none;
    table-layout: auto
}

.line-chart-table th {
    background-color: rgba(0, 0, 0, 0)
}

.line-chart-table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0)
}

.line-chart-table tr {
    border-bottom: 1px solid #b1b1b1
}

.line-chart-table th {
    color: #000;
    text-align: left
}

.line-chart-table td,
.line-chart-table th {
    font-size: 1.2rem;
    border: none
}

@media screen and (min-width: 41em) {
    .line-chart-table {
        table-layout: fixed
    }
}

.wp-block-table table thead {
    background-color: #edeae1;
    border-bottom: none
}

.wp-block-table table thead th {
    padding: 1rem;
    text-align: left
}

.wp-block-table table thead th.has-text-align-right {
    text-align: right
}

.wp-block-table table thead th.has-text-align-center {
    text-align: center
}

.wp-block-table table th {
    border: none
}

.wp-block-table table tbody tr:first-child {
    border-top: 1px solid #b1b1b1
}

.wp-block-table table td {
    border: none;
    border-bottom: 1px solid #b1b1b1;
    padding: 1rem
}

.wp-block-table table tfoot {
    border-top: .25rem solid #b1b1b1
}

.wp-block-table table tfoot td {
    font-weight: 600;
    padding: 1rem
}

ul.subnav {
    display: none;
    margin-right: 0;
    margin-left: auto
}

@media screen and (min-width: 61.5em) {
    ul.subnav {
        display: block;
        margin-bottom: 2em;
        position: relative
    }
}

ul.subnav,
ul.subnav ul {
    padding: 0;
    list-style: none
}

ul.subnav>li:first-child {
    border: none;
    padding-right: 1.5rem
}

ul.subnav>li:first-child>a {
    color: #ba0c2f;
    font-size: 1em;
    font-weight: 600;
    padding: 0 1rem .5rem 0rem;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

ul.subnav>li:first-child>a:hover {
    color: #971b2f;
    text-decoration: underline
}

ul.subnav>li:first-child>ul>li:first-child a {
    padding-top: .5rem
}

ul.subnav .children {
    padding: 0 0rem .25rem 0
}

ul.subnav .children .children {
    padding: 0;
    margin-top: 0
}

ul.subnav ul a {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25em;
    padding: 1rem .5rem;
    color: #222
}

ul.subnav ul .current_page_item>a {
    font-weight: 600;
    text-decoration: underline
}

ul.subnav ul ul li {
    border-bottom: none
}

ul.subnav ul ul a {
    padding: 0 .5rem 1rem 1rem
}

ul.subnav ul ul ul a {
    padding: 0 .5rem 1rem 2rem
}

ul.subnav li {
    border-bottom: 1px solid #b1b1b1;
    margin: 0
}

ul.subnav a {
    display: block;
    padding-bottom: 10px;
    text-decoration: none
}

ul.subnav a:hover {
    text-decoration: underline
}

ul.subnav .page-item-has-children {
    position: relative
}

ul.subnav .page-item-has-children .sub-nav-toggle {
    position: absolute;
    top: .375rem;
    right: 0;
    background: url(assets/icons/arrow-down-red.svg) no-repeat center;
    background-size: 1.75rem;
    border: none;
    border-radius: 0;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0);
    transition: none
}

ul.subnav .is-open>.sub-nav-toggle {
    transform: rotate(180deg)
}

.paging-navigation {
    text-align: center;
    margin-bottom: 40px;
    margin-bottom: 2.5rem
}

.paging-navigation .nav-previous,
.paging-navigation .nav-next {
    display: inline-block;
    vertical-align: top
}

.paging-navigation .nav-previous a,
.paging-navigation .nav-next a {
    height: 2rem;
    width: 2.5rem;
    display: block;
    background-color: #971b2f;
    text-decoration: none;
    border-radius: 4px
}

.paging-navigation .nav-next {
    margin-left: 1.5rem
}

.paging-navigation .nav-next a:after {
    content: "›";
    color: #fff;
    font-size: 35.2px;
    font-size: 2.2rem;
    line-height: .8;
    font-family: var(--font-ivypresto)
}

.paging-navigation .nav-previous {
    margin-right: 1.5rem
}

.paging-navigation .nav-previous a:after {
    content: "‹";
    color: #fff;
    font-size: 35.2px;
    font-size: 2.2rem;
    line-height: .8;
    font-family: var(--font-ivypresto)
}

.paging-navigation .nav-count {
    font-size: 19.2px;
    font-size: 1.2rem;
    display: inline-block;
    line-height: 2rem
}

.paging-navigation .nav-count .of {
    margin: 0 .2em
}

.wp-block-washu-accordions {
    clear: both;
    margin-top: 3rem;
    margin-bottom: 3rem
}

.wp-block-column .wp-block-washu-accordions {
    margin-top: 0
}

.accordion-header {
    cursor: pointer;
    padding: 1.5rem 4.25rem 1.5rem 1.5rem;
    border-top: 1px solid #b1b1b1;
    font-size: 1.44rem;
    font-weight: 400;
    position: relative;
    color: #ba0c2f
}

.accordion-header:first-child {
    border-top: none
}

.accordion-header svg {
    content: "";
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.8rem;
    height: 1.8rem;
    background-size: 100%
}

.accordion-header svg path {
    fill: #ba0c2f
}

.accordion-header:hover {
    color: #971b2f;
    text-decoration: none
}

.accordion-header:active {
    color: #681c24
}

.accordion-header[aria-expanded=true] svg {
    transform: translateY(-50%) rotate(180deg)
}

.accordion-header p,
.accordion-header h2,
.accordion-header h3,
.accordion-header h4 {
    margin: 0;
    padding: 0
}

.accordion-content {
    margin: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden
}

.accordion-content>* {
    opacity: 0;
    transform: translateY(-2rem);
    transition: transform .5s cubic-bezier(0.2, 1, 0.3, 1), opacity .5s cubic-bezier(0.2, 1, 0.3, 1)
}

.accordion-content.active {
    visibility: visible;
    height: auto;
    margin-bottom: -1px;
    padding: 0 3rem 1.5rem 3rem
}

.accordion-content.active>* {
    opacity: 1;
    transform: translateY(0)
}

.accordion-content p:first-child,
.accordion-content h2:first-child,
.accordion-content h3:first-child,
.accordion-content h4:first-child {
    margin-top: 0
}

@media screen and (min-width: 61.5em) {
    .tab-content .accordion {
        position: relative;
        top: calc(-1em - 1px);
        z-index: 2
    }
}

#masthead {
    border-top: .5rem solid #ba0c2f;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff
}

#masthead svg {
    width: 8.82rem;
    padding: .5rem 0;
    position: relative;
    top: .25rem
}

body.active #masthead {
    position: static
}

body.active #masthead svg#menu .line-menu:nth-child(2) {
    transform: translate(32px, 21px) rotate(135deg);
    transition: all .3s
}

body.active #masthead svg#menu .line-menu:nth-child(3) {
    display: none
}

body.active #masthead svg#menu .line-menu:nth-child(4) {
    transform: translate(32px, 34px) rotate(225deg);
    transition: all .3s
}

@media screen and (min-width: 50em) {
    #masthead svg {
        padding: 2rem 0 1rem;
        position: static
    }
}

footer {
    background-color: #000;
    color: #fff
}

.page-title {
    font-size: 47.776px;
    font-size: 2.986rem;
    font-family: "ivypresto-headline", Georgia, serif;
    letter-spacing: -1px
}

@media screen and (min-width: 50em) {
    .page-title {
        font-size: 57.33008px;
        font-size: 3.58313rem
    }
}

#page {
    background-color: #faf7ef;
    overflow-x: clip;
    min-height: calc(100vh - var(--footer-height) - var(--nav-height))
}

#content {
    margin: 1.5rem 0 6rem;
    font-size: 1.2rem
}

@media screen and (min-width: 50em) {
    #content {
        margin: 6rem 0
    }
}

footer p {
    margin-bottom: 0;
    padding: 1rem 0;
    font-size: 1rem
}

.grid {
    display: grid;
    grid-template-columns: var(--single-gutter, 1.5rem) 1fr var(--single-gutter, 1.5rem)
}

.grid #content {
    grid-column-start: 2;
    grid-column-end: 3
}

.grid .shield-container {
    background-color: #ba0c2f;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    background-image: url("./img/shield-pattern.svg");
    background-size: 9.01125rem 5.00625rem;
    overflow: hidden;
    height: 6.25rem
}

.grid .shield-container .inner-shield {
    background-image: url("./img/WashU-SHIELD-red-fill.svg");
    margin-top: 2rem;
    display: block;
    position: relative;
    width: 7.313rem;
    height: 8.351rem;
    left: var(--single-gutter, 1.5rem)
}

.grid.sidebar-grid #secondary {
    grid-column-start: 2;
    grid-column-end: 5;
    margin-top: 6rem;
    position: absolute
}

.grid.sidebar-grid #content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2
}

.grid.sidebar-grid .shield-container {
    grid-column-start: 1;
    grid-column-end: 4
}

@media screen and (min-width: 50em) {
    .grid {
        grid-template-columns: var(--single-gutter) repeat(12, 1fr) var(--single-gutter);
        grid-column-gap: 24px;
        margin-left: -24px;
        margin-right: -24px
    }

    .grid .shield-container {
        grid-column-start: 11;
        grid-column-end: 15;
        height: auto;
        min-height: calc(100vh - (var(--footer-height) + var(--nav-height) - 1px))
    }

    .grid .shield-container .inner-shield {
        position: static;
        margin-left: 6rem;
        margin-top: 6rem;
        margin-bottom: 6rem;
        width: 38.3125rem;
        height: 43.75rem;
        background-size: 38.3125rem 43.75rem
    }

    .grid #content {
        grid-column-start: 2;
        grid-column-end: 9
    }

    .grid.sidebar-grid #secondary {
        position: static
    }

    .grid.sidebar-grid #content {
        grid-column-start: 5;
        grid-column-end: 12;
        grid-row-start: 1;
        padding-right: 1.5rem
    }

    .grid.sidebar-grid .shield-container {
        grid-column-start: 12;
        grid-column-end: 15
    }
}

.error-primary {
    background-color: #ffe3e0;
    padding: 1rem;
    border: 1px solid #ba0c2f
}

input:not([type=radio]):not([type=checkbox]):not([type=range]):not([type=button]):not([type=search]):not([type=submit])[aria-invalid=true],
textarea[aria-invalid=true] {
    border: 1px solid #ba0c2f
}

input:not([type=radio]):not([type=checkbox]):not([type=range]):not([type=button]):not([type=search]):not([type=submit])[aria-invalid=true]::placeholder,
textarea[aria-invalid=true]::placeholder {
    color: #ba0c2f
}

.field-error label {
    color: #ba0c2f
}

#masthead .washu-main-menu-trigger {
    display: inline-block;
    background: #fff;
    border: none;
    border-left: none;
    border-radius: 0;
    padding: 0;
    width: 3rem;
    position: absolute;
    top: 0rem;
    right: 0;
    pointer-events: all;
    -webkit-appearance: none;
    z-index: 100
}

#masthead .washu-main-menu-trigger:hover {
    text-decoration: none
}

#masthead .washu-main-menu-trigger svg {
    display: block;
    width: 3rem;
    padding: 0;
    margin: 0 auto
}

#masthead .washu-main-menu-trigger svg path {
    fill: #000
}

@media screen and (min-width: 50em) {
    #masthead .washu-main-menu-trigger {
        top: 2rem
    }
}

ul.subnav {
    display: block;
    visibility: hidden;
    transition: all .3s
}

.nav-toggle {
    display: block
}

@media screen and (min-width: 50em) {
    .nav-toggle {
        display: none
    }
}

body.active #page {
    position: relative
}

body.active #page #secondary {
    top: 0;
    right: 0;
    transition: all .3s;
    margin-top: 0;
    z-index: 20;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    background-color: #fff
}

body.active #page ul.subnav {
    width: 100vw;
    height: 100%;
    margin: 0;
    visibility: visible
}

body.active #masthead .washu-main-menu-trigger {
    position: fixed;
    top: 0
}

body:not(.active) #page {
    position: relative
}

body:not(.active) #page #secondary {
    top: 0;
    right: -100vw;
    left: auto;
    margin: 0;
    transition: all .3s
}

body:not(.active) #page #secondary ul.subnav {
    margin: 0
}

@media screen and (min-width: 50em) {
    body ul.subnav {
        visibility: visible
    }

    body:not(.active) #page #secondary {
        padding-top: 6rem
    }

    body:not(.active) #page ul.subnav {
        position: sticky;
        top: 7.462rem;
        padding-bottom: 6rem
    }
}

@media screen and (max-width: 49.9375em) {
    ul.subnav>li:first-child {
        padding-right: 0
    }

    ul.subnav>li:first-child>ul li:first-child a {
        padding-top: 1rem
    }

    ul.subnav>li:first-child>a {
        font-size: 1rem;
        line-height: 1.25em;
        padding: 1rem .5rem;
        color: #222;
        border-bottom: 1px solid #b1b1b1;
        margin: 0;
        font-weight: 600;
        text-transform: capitalize
    }

    ul.subnav ul a {
        font-weight: 600
    }

    #page ul.subnav {
        padding: 1.5rem
    }
}

/*# sourceMappingURL=style.css.map */